{{ define "index.tmpl" }}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Hacker Slides</title>

        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div id="edit-pane">
          <div id="controls">
            <a href="/?new=true" target="_blank" onclick="save();"> New</a> |
            <a href="/stash" target="_blank" onclick="save();"> Stash</a> |
            <a href="/published/{{ .pubTo}}" target="_blank" onclick="save();"> Present</a> |
            <a href="/published/{{ .pubTo}}?print-pdf" target="_blank" onclick="save();"> Pdf</a>
          </div>
          <div id="editor"></div>
        </div>
        <div id="preview">
            <iframe id="slides-frame" src="/published/{{ .pubTo}}?preview"></iframe>
        </div>

        <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/jquery/jquery-3.3.1.min.js"></script>
        <script src="/static/jquery/jquery-debounce-1.0.6.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/save.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>

{{ end }}
